
{% extends "layout.html" %}
{% block content %}
    <div class="page-header">
      <h1>New Post</h1>
    </div>
    
    <form>
      <div class="form-group">
        <label for="post-title">Post Title</label>
        <input type="text" class="form-control" id="post-title" placeholder="">
      </div>
      <ul class="nav nav-tabs visible-xs visible-s">
        <li id="editor_tab" class="active">
          <a id="editor_tab">Editor</a>
        </li>
        <li id="preview_tab">
          <a id="preview_tab">Preview</a>
        </li>
      </ul>
      <div class="row tab-content">
        <div class="col-md-6" id="textview">
                    <textarea id="editor" name="content" rows="25" placeholder="Start typing here!" class="md-input" style="resize: none;"></textarea>
        </div>
        <div class="col-md-6" id="preview">
          <div id="md-preview" data-provider="markdown-preview"></div>
        </div>
      </div>
      <hr>
      <button type="submit" class="btn">Submit</button>
    </form>
{% endblock %}
