/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

/** Styles for markdown **/
.md-editor {
    display: block;
    border: 1px solid #ddd
}
.md-editor>.md-header,
.md-editor .md-footer {
    display: block;
    margin-left: 10px;
    padding: 6px 4px;
    background: #fff
}
.md-editor>.md-preview {
    background: #fff;
    border-top: 1px dashed #ddd;
    padding: 4px;
    border-bottom: 1px dashed #ddd;
    min-height: 10px
}
.md-editor>textarea {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 14px;
    max-height: 550px;
    outline: 0;
    outline: thin dotted \9;
    margin: 0;
    display: block;
    padding: 0;
    width: 100%;
    border: 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    border-radius: 0;
    box-shadow: none;
    background: #eee
}
.md-editor>textarea:focus {
    box-shadow: none;
    background: #fff
}
.md-editor.active {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6)
}
#md-preview {
    overflow: auto;
    height: 550px;
    padding: 4px;
}
@media (max-width: 768px) {
    #md-preview {
        overflow: none;
        height: 350px;
        padding: 4px;
    }
    .md-editor>textarea {
        max-height: 300px;
        font-size: 12px;
    }
}